CONFIG_IDF_TARGET="esp32s31"
CONFIG_IDF_EXPERIMENTAL_FEATURES=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_PERIPH_CTRL_FUNC_IN_IRAM=y
CONFIG_FREERTOS_HZ=1000

# Use UART for logs; USB-OTG is reserved for the extend-screen device stack.
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_SECONDARY_USB_SERIAL_JTAG=y
# CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG is not set
# CONFIG_USJ_ENABLE_USB_SERIAL_JTAG is not set

CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_250M=y
CONFIG_SPIRAM_XIP_FROM_PSRAM=y
CONFIG_SPIRAM_MEMTEST=n
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=12768
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y
CONFIG_SPIRAM_ALLOW_NOINIT_SEG_EXTERNAL_MEMORY=y

CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

CONFIG_CODEC_ES8311_SUPPORT=y

CONFIG_USB_DEVICE_UAC_AS_PART=y

CONFIG_HID_TOUCH_ENABLE=y
CONFIG_ESP_LCD_TOUCH_MAX_POINTS=5
CONFIG_UAC_AUDIO_ENABLE=y
CONFIG_UAC_SPEAKER_CHANNEL_NUM=2
CONFIG_UAC_MIC_CHANNEL_NUM=2
CONFIG_UAC_SAMPLE_RATE=48000
CONFIG_UAC_BIT_RESOLUTION_16=y
CONFIG_UAC_SPK_INTERVAL_MS=10
CONFIG_UAC_MIC_INTERVAL_MS=10
CONFIG_UAC_SPK_NEW_PLAY_INTERVAL=100
CONFIG_UAC_SPK_TASK_PRIORITY=6
CONFIG_UAC_MIC_TASK_PRIORITY=6

CONFIG_USB_EXTEND_SCREEN_MAX_FPS=60
CONFIG_USB_EXTEND_SCREEN_FRAME_LIMIT_B=500000
CONFIG_EXAMPLE_LCD_BUF_COUNT=2
